<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="style.css"></style>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="MainController">

  <div class="logo">
    <a href="#" ng-click="setCurrentCategory(null)"><img ng-class="{'active':isCategoryNull()}" src="logo.png"/></a>
  </div>

  <div class="categories">
    <ul>
      <li ng-repeat="category in categories">
        <a href="#" ng-click="setCurrentCategory(category)" ng-class="{'active':isCurrentCategory(category)}">{{category.name}}</a>
      </li>
    </ul>
  </div>

  <div class="bookmarks">
    <div ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
      <button type='button' ng-click="startEditing()" class='btn btn-link'><span class='glyphicon glyphicon-pencil'></span></button>
      <a href={{bookmark.url}} target="blank">{{bookmark.title}}</a>
    </div>
  </div>

  <div class='create-form' ng-if="shouldShowCreating()">
    <button type="button" class="btn btn-link" ng-click="startCreating();"><span class="glyphicon glyphicon-plus"></span>
      Create Bookmark
    </button>

    <div ng-if="isCreating">
      Create a bookmark!
      <a href="#" class="cancel btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel</a>
    </div>
  </div>


  <div class="edit-form" ng-if="shouldShowEditing()">
    Edit Bookmark
    <a href="#" class="cancel btn btn-default btn-lg pull-right" ng-click="cancelEditing()">Cancel</a>
  </div>

  <div class="plus" ng-click="startCreating()">
    <a href="#">+</a>
  </div>

</body>
</html>
