body{
  background-color: white;
}
div.categories{
  position: absolute;
  width: 200px;
  left: 100px;
  top: 100px;
  background-color: cyan;
}
div.bookmarks{
  position: absolute;
  width: 200px;
  left: 400px;
  top: 100px;
  background-color: yellow;
}
div.logo{
  position: absolute;
  top: 50px;
  left: 50px;
}
div.logo img{
  width: 50px;
}
div.logo img.active{
  width: 100px;
}
a.active{
  font-size: 30px;
}
div.create-form{
  position: absolute;
  width: 200px;

}
