body{
  background-color: white;
}
div.categories{
  position: absolute;
  left: 100px;
  top: 100px;
}
div.bookmarks{
  position: absolute;
  left: 400px;
  top: 100px;
}
div.logo{
  position: absolute;
  top: 10px;
  left: 10px;
}
div.logo img{
  width: 50px;
}
div.logo img.active{
  width: 100px;
}
a.active{
  font-size: 30px;
}
div.create-form{
  position: absolute;
  background-color: #efefef;
  width: 600px;
  border: 1px solid green;
  height: 200px;
  left: 100px;
  top: 300px;
}
div.edit-form{
  position: absolute;
  background-color: #eeffaa;
  width: 600px;
  border: 1px solid red;
  height: 200px;
  left: 100px;
  top: 300px;
}
div.plus{
  position: absolute;
  top: 100px;
  left: 700px;
  width: 100px;
  height: 100px;
}
div.plus a{
  color: blue;
  font-size: 100px;
  text-decoration: none;
}

